#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=logKonsult
Comment=consult pacman logs
Exec=/usr/bin/logkonsult-gui
Icon=/usr/share/pixmaps/logkonsult.svg
Categories=Utilityty;
Keywords=pacman;log;
