[Desktop Entry]
Type=Application
Name=logKonsult
GenericName=pacman logKonsult
Comment=consult pacman logs
Exec=/usr/bin/logkonsult-gui
Icon=/usr/share/pixmaps/logkonsult.svg
Categories=Utility;
Keywords=pacman;log;
Terminal=false
