[Desktop Entry]
Type=Application
Name=logKonsult
GenericName=pacman logKonsult
Comment=consult pacman logs
Exec=logkonsult-gui
Icon=logkonsult
Categories=Utility;
Keywords=pacman;log;
Terminal=false
StartupWMClass=logkonsult-gui
